NEXT_PUBLIC_GRAPHQL_URI=https://gotrip-ai-nidhin-sankar.hypermode.app/graphql
NEXT_PUBLIC_GRAPHQL_API_KEY=eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NjgyMTQ1NDUsImlhdCI6MTczNjY3ODU0NSwiaXNzIjoiaHlwZXJtb2RlLmNvbSIsInN1YiI6ImFway0wMTk0NWExYi05NjI1LTc3ZWYtOGIzNi1iZTQ1OGM2NTIxZWIifQ.Nwi7ZYeySjgBPAzOn5r7KtY4W9yjtqFRNVxTmL01ZQ-IqIoroBJWq9xM7-k3ovRwp3rrTPsVTCrMonLMZ5eN7Q